*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

a{
text-decoration: none;
 }

.logo{
    width:auto;
    line-height: 80px;
} 

.container-top{
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 50px; */
    color: white;

}

.header{
    line-height: 80px;
}


.top-ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;

}
.fa{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    line-height: 80px;
}

.top-ul li:hover{
    color:greenyellow;
    transition: 0.7s ease-in-out;
}

.bg-top-1{
background-image: url("./img_cover-1.jpg");
height: 590px;
width:auto;
background-repeat:repeat;
background-size:cover;
background-color: black;

}

.h1_text{
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 60px;
    text-align: center;
    letter-spacing: 2px;
    /* margin-top: 100px; */
   
}

.head-text{
    margin-top: 100px;
 
}

.text-div{
    color:white;
    line-height: 10px;
    text-align: center;
    margin-top: 10px;
    
}
.scroll-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    margin-top: 40px;
}



.btn-text{
    text-transform: uppercase;
    color: black;
    background-color:greenyellow;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 120px;
    
}

.bottom-text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap:20px;
}

.text-a{
line-height: 40px;
color:white;
}

.fa-arrow-up-right-from-square{
    line-height: 40px;
}

.wrapper-text{
    background-color: greenyellow;
    overflow: hidden;
    color:black;
    height:50px;
    line-height: 50px;
    display: flex;
    justify-content:center;
    margin-top: 80px;
}

.wrapper-h1{
    text-transform: uppercase;
    font-size: 26px;
    /* color: transparent;
     */
     /* -webkit-text-stroke-width: 0.1px; */
     -webkit-text-stroke-color:black;
     animation: move-rtl  6000ms linear infinite;

}

@keyframes move-rtl{
    0%{
        transform: translateX(0);
    }
    100%{
        transform:translateX(-100%);
    }
}

.header-2{
background-color: black;
color: white;
 /* margin-top: 100px;  */
height: 1100px;


}

.h2-text{
    text-transform:uppercase;
    
    
}
.text-2{
    text-transform: uppercase;
    /* margin-top: 100px; */
    padding-top: 70px;
    /* text-align:start;
     */
     margin-left: 710px;
    
}

.header-card{
    display:flex;
    justify-content: center;
    gap:10px;
    margin-left:00px ;
}

.card-1{
    height:200px;
    width: 200px;
    background-color: rgb(55, 53, 53);
    border-radius:30px;
}.card-2{
    height:200px;
    width: 200px;
    background-color: rgb(55, 53, 53);
    border-radius:30px;
}
.card-3{
    height:200px;
    width: 200px;
    background-color: rgb(55, 53, 53);
    border-radius:30px;
}

/* .card-1 :hover{
    background-color: greenyellow;
    transition: 0.7s ease-in-out;
    
} */

.header-card :hover{
    background-color: greenyellow;
    transition: 0.7s ease-in-out;
}

.fa-ellipsis{
    margin-left: 1001px;
    /* box-sizing: 100px; */
}
.about-text{
    text-transform: uppercase;
    margin-left: 710px;
}
.container-about{
    margin-top: 100px;
}

.about-img{
    border-radius: 30px;
    margin-left:690px ;
}


.about-p{
    margin-left: 50px;
}

.btn-yrs{
    text-transform: uppercase;
    background-color: greenyellow;
    border-radius: 20px;
    width: 150px;
    height: 50px;
}

.p-button{
    display: flex;
    justify-content: center;
    gap:50px;
}

.header-2-bottom{
margin-left: 50px;
}


.bottom-head{
    display: flex;
    justify-content:center;
    gap:25px;
}

.img-bt{
    border-radius: 50%;
    border: 5px solid #33ba0d;

}

.header-2-bottom{
    margin-top: 20px;
}

.store-page{
    background-color: rgb(79, 78, 78);
    height: 420px;

}
.store-head{
    text-transform: uppercase;
    color: white;
    margin-left: 710px;
    padding-top: 50px;
}


.store-text{
    color: white;
    margin-left: 710px;
}

.store-ul{
    display: flex;
    
    justify-content: center;
    gap:30px;
}


.image-store-bottom{
    background-image: url("./about.jpg");
height: 590px;
width:auto;
background-repeat:repeat;
background-size:cover;
background-color: black;
}


.container-passes{
    background-color:black;
    height: 1100px;
}

.pass-head{
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 40px;
}

.charges{
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    margin-top: 30px;
}
.fa-toggle-off{
    color: yellow;
    margin-left: 990px;
    margin-top: 20px;
}

.btn-pass{
    color: white;
    line-height: 180px;
}

.pass-cards{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.reviews-h1{
    color: white;
    text-transform: uppercase;
    margin-left: 720px;
  
    
}
.review-image{
background-image: url("./about.jpg");
height: 460px;
width:650px;
background-repeat:repeat;
background-size:cover;
background-color: black;
margin-left: 720px;
border-radius: 20px;
margin-top: 20px;
}

.line-bottom{
   border-top: 2px solid rgb(110, 110, 110);
    /* color: rgb(130, 133, 133); */
    margin-top: 50px;
    margin-bottom: 30px;
    width:auto;
}

.pass-cards-{
    height:200px;
    width: 200px;
    background-color: rgb(55, 53, 53);
    border-radius:30px;
}    


.blog-top{
   background-color:  rgb(41, 41, 41);
   height:480px;
}


.blog-head{
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding-top: 20px;


}

.blog-p{
    color: white;
    text-align: center;
    padding: 10px;

}

.ul-blog{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-left: 50px;
    
}
.img-blog{
    border-radius:20px;
}
.blog-images{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#fa-blog{
    line-height: 180px;
    gap:10px;
}

#fa-blogg{
    line-height:180px;
}

.container-footer{
background-image: url("./img_cover-1.jpg");
height: 470px;
width:auto;
background-repeat:repeat;
background-size:cover;
background-color: black;
}
.footer-h{
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 90px;
}

.footer-p{
    text-align: center;
    color: white;

}
 .footer-search{
    text-align: center;
    align-items: center;
    margin-left: 930px;
 }

 .footer{
    background-color: black;
    height: 410px;
 }


 .gymteam-flex{
    display: flex;
    color: white;
    justify-content:space-evenly;
    gap:20px;
    padding-top: 50px;
 }
 .gymteam{
    color: white;
    padding-top: 50px;
 }

 .footer-line{
    margin-top: 200px;
    border-top: rgb(71, 70, 70) solid 2px;
 }

 .copyright{
    color:rgb(71, 70, 70) ;
    padding-top: 20px;
    margin-left: 250px;
 }